    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

    * {
      transition: background-color 0.4s ease, color 0.4s ease, border-color 0.4s ease;
    }

    body {
      font-family: 'Poppins', sans-serif;
      background: linear-gradient(to right, #dfe9f3, #ffffff);
      transition: background 0.5s ease;
    }
    .dark body {
      background: linear-gradient(to right, #1e293b, #0f172a);
    }